# Files
.last-package-update-day
.lsp-session-v1
bookmarks
projectile-bookmarks.eld
recentf
tramp

# Directories
.cache/
elpa/
eln-cache/
emms/
games/
lsp-cache/

# Files in subdirectories
eshell/history
eshell/lastdir
transient/history.el
url/cookies